@import "../node_modules/bootstrap//scss/functions"; 
@import "../node_modules/bootstrap/scss/variables";

$theme-colors: (
  primary: #1b57a5
);

@import "../node_modules/bootstrap/scss/bootstrap";

*:focus 
{
  box-shadow: none !important;
  outline: none !important;
}

//Navigation bar
.icon
{
  color: #d3d3d3;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: none;
  outline:none;

  &:hover
  {
    color: #ffffff;
  }
}

.searchbar
{
  border-radius: 30px;
  background: #353b48;
  display: inline-flex;
}

.search
{
  border: none;
  background: none !important;
  color: white;
}