@import "../../../node_modules/bootstrap//scss/functions"; 
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss//mixins/breakpoints";

.grid
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game
{
  display: block;
  margin: 0.5rem;
  width: 25%;
  transition: all .2s ease-in-out;

  @include media-breakpoint-up(md)
  {
    width: 20%;
  }
  @include media-breakpoint-up(lg)
  {
    width: 15%;
  }
  @include media-breakpoint-up(xl)
  {
    width: 12%;
  }

  &:hover
  {
    transform: scale(1.2);
    cursor: pointer;
  }

  > img
  {
    display: block;
    max-width:100%;
    max-height:100%;
  }
  > p
  {
    text-align: center;
  }
}