.setting-wraper 
{
    display: flex;
    width: 100%;
    align-items: stretch;
}

#setting-sidebar 
{
    width: 250px;
    height: 100vh;
    transition: all 0.3s;
    text-decoration:none;
    padding-top: 5vh;
    background-color: #DCDCDC;

    .sidebar-header 
    {
        padding: 20px;
        background: inherit;
        color: inherit;
    }

    a 
    {
        padding: 10px;
        font-size: 1.1em;
        text-align: center;
        color: inherit;
        display: block;

        &:hover
        {
            background: rgb(190, 190, 190);
        }
    }
}