@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    background-color: #ffffff;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: rgb(255, 255, 255);
    //background: rgb(27,87,165);
    //background: linear-gradient(90deg, rgba(27,87,165,1) 97%, rgba(255,255,255,1) 100%);
    transition: all 0.3s;
    min-height: 100vh;
    color: #000000;
    text-decoration:none
}

#sidebar .sidebar-header {
    padding: 20px;
    background: inherit;
    color: inherit;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: rgb(0, 0, 0);
    background: #fff;
    text-decoration:none
}