@import "../../node_modules/bootstrap//scss/functions"; 
@import "../../node_modules/bootstrap/scss/variables";

$theme-colors: (
  primary: #1b57a5
);

@import "../../node_modules/bootstrap/scss/bootstrap";

*:focus 
{
  box-shadow: none !important;
  outline: none !important;
}

//Navigation bar
.icon
{
  color: #d3d3d3;

  &:hover
  {
    color: #ffffff;
  }
}

.searchbar
{
  border-radius: 30px;
  display: inline-flex;

  >input
  {
    background: none !important;
    color: white;
    border: none;
    border-bottom: 1px solid #cfcfcf;
    width: 0;
    transition: width 0.4s ease-in-out;

    &:focus
    {
      width: 12rem;

      @include media-breakpoint-up(sm)
      {
        width: 20rem;
      }
    }
  }
}

.dark-mode
{
  background-color: #212121;
  color: #ffffff;

  hr
  {
    color: #ffffff;
    border-color: #ffffff;
    border-style: solid;
    background-color: #ffffff;
  }

  #setting-sidebar
  {
    background-color: #121212;

    a:hover
    {
      background: #424242;
    }
  }
}

@import "fragments/carousel.scss";
@import "fragments/library.scss";
@import "fragments/game.scss";
@import "fragments/settings.scss";